<!DOCTYPE html>
<html>
	<head>
		<title>MESA-Screen</title>
		<link href = "/lib/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/device.css">

		<script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/lib/socket.io.min.js"></script>
		<script type="text/javascript" src="/lib/fingerprint.js"></script>
		<!-- <script type="text/javascript" src="/lib/ServerDate.js"></script> -->
		<script type="text/javascript" src="/js/device.js"></script>
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div id="progress_bar_container">
					<div id="progress-bar"></div>
				</div>
				<div id="progress_page_container">
				</div>
			</div>

			<section id="mesa_container">
			</section>
		</div>
		<div id="footer"></div>
	</body>
</html>